.day{
    display: flex;
    flex-direction: column;
    align-items: center;
    .moment {
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
    }
  
    
    img {
        margin-top: 13px;
        max-width: 35px;
        max-height: 35px;
    }

    .mintemp {
        font-size: 14px;
        line-height: 16px;
        &::after {
            content: "°";
        }
    }

    .maxtemp {
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
        &::after {
            content: "°";
        }
    }
}